<html>
    <head>
        <title>Word Finder</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css'>
        <link rel='stylesheet' href='css/styles.css'>
    </head>
    <body>
        <div class='container'>
            <div class="jumbotron">
                <h1>Word Finder</h1>
            </div>
            <p>Hi. I'm a <strong>boilerplate</strong>. Use me to make something awesome, <em>faster</em>.</p>

            {{input_array}}
        </div>
    </body>
</html>
