body {
    text-align: center;
    background-color: #6C94CD;

}

form {
    margin: 5%;
    margin-top: 10%;
}

label {
    text-align: left;
}

.form-control {
    height: 64px;
    line-height: 2.0
}
.jumbotron {
    height: 350px;
    text-align: center;
    background-image: 'img/numbers_and_letters.jpg';
    background-image: url(http://www.freeimageslive.com/galleries/workplace/education/pics/numbers_and_letters.jpg);
    background-size: 100% 100%;
    color: white;
    font-family: 'Shadows Into Light', cursive;


}

h2 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 72px;
    margin-bottom: 10%;
}


.round {
    background-image: url(http://www.fleurusculture.be/img/uploads/evenements/2015/01/scrabble_android_1-1.jpg);
    /*background-position: 50%;*/
    border-radius: 50%;
    width: 325px;
    height: 325px;
    padding-left:  100px;
    margin: auto;
    margin-bottom: 25px;
    font-family: 'Shadows Into Light', cursive;
}

h3 {
    margin: auto;
    padding-top: 130px;
    padding-right: 109px;
    font-size:  75px;
    color: white;
    text-shadow: 1px 1px 2px black;  
}

button {
    padding-left: 40%;
}

.add-yellow {
    color: #FFF949;
    text-shadow: 1px 1px 2px #888888;
}


.jumbotron .h1, .jumbotron h1 {
  font-size: 100px;
  text-shadow: 1px 1px 5px black;  
}

